.ipynb_checkpoints/*
/ckpt/
.__pycache__/*
**.pyc
/vis
/runs
/train_images
/eval_images
.env
*.npy
.locks/
/output
/analysis
/ckpt_align
/eval_results
/infer_align_vis_results
/config/align_training_config_*.json